body {
    background: #f8f9fa;
    font-family: Segoe UI, Arial
}

.section-card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .06)
}

.card-game {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #eee;
    background: #fff
}